# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Secret key
secret_key.txt

# Media files
media/

# Static files
static/

# Environment variables
.env

# IDE files
.vscode/
*.pydevproject
*.pydevprojectc
*.pydevprojectw

# Miscellaneous
*.bak
*.swp
*.swo
.DS_Store
